<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for_filterrific @filterrific, remote: true do |f| %>
        <div>
          <%= t "admin.bookings.search" %>
          <label for="search_query" >
            <%= t "admin.bookings.user" %>
          </label>
          <%= f.text_field :search_user, class: "filterrific-periodically-observed" %>
          <label for="search_query" >
            <%= t "admin.bookings.tour" %>
          </label>
          <%= f.text_field :search_tour, class: "filterrific-periodically-observed" %>
        </div>
        <div>
          <%= t "admin.bookings.sorted_by" %>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by] %>
        </div>
        <div>
          <%= t "admin.bookings.search_status" %>
          <%= f.select :search_status, @filterrific.select_options[:status] %>
        </div>
        <div>
          <%= t "admin.bookings.date_range" %>
          <%= f.text_field :date_range, class: "filterrific-periodically-observed", for: "lg" %>
        </div>
        <div>
          <%= link_to t("admin.bookings.reset_filter"), reset_filterrific_url %>
        </div>
      <% end %>
    </div>
    <%= render_filterrific_spinner %>
  </div>
  <%= render partial: "admin/bookings/list", locals: {bookings: @bookings} %>
</div>
