<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2><%= t "view.register" %></h2>

      <%= form_for resource, as: resource_name, url: registration_path(resource_name),
        html: {class: "form-horizontal"} do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-offset-4">
          <%= f.submit t("view.register"), class: "btn btn-success col-md-4" %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
