<% tour_rule.conditions.collect do |condition| %>
  <div class="form-group">
    <%= rule_hidden_field name_for_rule_id(condition.id), condition.id %>
    <%= rule_select_field name_for_type(condition.id),
      support.conditions, condition[:condition_type] %>

    <% if condition[:condition_type] == "price_less" ||
      condition[:condition_type] == "price_more" %>
      <%= rule_number_field name_for_value(condition.id), condition[:condition_value] %>
    <% elsif condition[:condition_type] == "place" ||
      condition[:condition_type] == "tour" %>
      <%= rule_text_field name_for_value(condition.id), condition[:condition_value] %>
    <% end %>
    <i class="bt-remove pt glyphicon glyphicon-remove" ></i>
    <%= rule_hidden_field name_for_destroy(condition.id), false %>
  </div>
<% end %>
