<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <label><%= t "view.titlereview" %></label>
      <%= @review.title %>
    </div>
    <div class="row">
      <label><%= t "view.reviewby" %></label>
      <%= @review.user.name %>
    </div>
    <div class="row">
      <label><%= t "view.contentreview" %></label>
      <div class="custom-div-text">
        <%= @review.content %>
      </div>
    </div>
  </div>
</div>
