<div class="container">
  <div class="row">
    <% provide :title, t(".title") %>
    <h1><%= t ".title" %></h1>
    <div>
      <%= link_to t(".add_category"),
        new_admin_place_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-bordered">
      <thead>
        <th><%= t ".stt" %></th>
        <th class="name"><%= t ".category_name" %></th>
        <th class="action"><%= t ".category_action" %></th>
      </thead>
      <tbody>
        <% @places.each_with_index do |place, i| %>
          <tr>
            <td>
              <%= i + 1 + Settings.tour*((params[:page] ||= 1).to_i - 1) %>
            </td>
            <td><%= link_to place.name, admin_places_path %></td>
            <td>
              <%= link_to t(".edit"),
                edit_admin_place_path(place), class: "btn btn-info" %>
              <%= link_to t(".button_delete"),admin_place_path(place),
                method: :delete, data: {confirm: t(".confirm")},
                class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @places %>
  </div>
</div>
