<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3><%= @tour.name %></h3>
        <%= rating_for @tour, "quality", disable_after_rate: false,
          space: true, enable_half: true %>
        <p>
          <%= @tour.description %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4><%= t "tours.schedule" %></h4>
        <dl>
          <%= @tour.schedule %>
        </dl>
      </div>
      <div class="col-lg-6">
        <h4><%= t "tours.info" %></h4>
        <dl class="dl-horizontal">
          <dt><%= t "tours.durations" %></dt>
          <dd><%= @tour.time_tour %></dd>
          <dt><%= t "tours.price" %></dt>
          <dd><%= @tour.price %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div id="booking" >
    <%= link_to t("tours.booking_tour"), new_booking_path(id: @tour.id),
      remote: true if user_signed_in? %>
  </div>
</section>

<div class="row text-center">
  <%= link_to t("view.create_review"), new_tour_review_path(@tour),
    class: "btn btn-primary" %>
</div>

<div class="row col-md-10 col-md-offset-1">
  <div class="all_reviews">
    <div class="row text-center">
      <h2><%= t "view.titlereview" %></h2>
    </div>
    <%= render "tours/reviews" %>
  </div>
</div>
