<div class="container">
  <div class="row text-center">
    <h3><%= t "view.orderbookingtour" %></h3>
  </div>
  <% @bookings.each do |booking| %>
    <div class="row div-a-order-tour">
      <div class="col-md-2 text-center">
        <%= image_tag booking.tour.image, class: "size_image" %>
      </div>
      <div class="col-md-10">
        <h3>
          <i>
            <%= link_to booking.user.name, booking.user %>
            <%= t "view.ordered" %>
          </i>
        </h3>
        <div class="row">
          <%= link_to booking.tour.name, booking.tour %>
        </div>
        <div class="row">
          <div class="price">
            <%= t "view.price_title" %>
            <%= t "view.price", price: number_to_currency(booking.total_money) %>
          </div>
          <div class="discount">
            <%= t "view.price", price: number_to_currency(booking.discount_money) %>
          </div>
          <div class="memeber">
            <%= t "view.memeber", member: booking.number_member %>
          </div>
        </div>
        <div class="row">
          <div>
            <%= t "view_booking.status" %>
            <%= booking.status %>
          </div>
          <div>
            <%= t "view.day_order" %>
            <%= l booking.created_at, format: :short %>
          </div>
        </div>
        <div>
          <div class="totalmoney">
            <%= t "view.total_money" %>
            <%= t "view.price", price: number_to_currency(booking.total_money) %>
          </div>

          <div class="action">
            <% if can? :destroy, booking %>
              <%= link_to t("view.cancel"), booking_path(booking), method: :delete,
                data: {confirm: t("view.confirm")}, class: "btn btn-danger" %>
            <% end %>
            <%= link_to t("tours.payment"), payments_new_path(id: booking.id),
              remote: true, class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
