<div class="container dialog" >
  <div class="col-lg-12" >
    <div class="panel panel-default" >
      <div class="panel-heading" >
        <%= t "tour_rule.list_place" %>
      </div>
      <div class="panel-body" >
        <table class="table" >
          <tr>
            <th><%= t "tour_rule.select" %></th>
            <th><%= t "tour_rule.name" %></th>
          </tr>
          <% @places.each do |place| %>
            <tr>
              <td><%= check_box_tag "check_rule", place.id %></td>
              <td><%= place.name %></td>
            </tr>
          <% end %>
          <tr>
            <%= paginate @places, remote: true, theme: "twitter-bootstrap-3" %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
