<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2 col-sm-3 sidebar">
        <div class="title"><%= t ".place" %></div>
        <%= render @supports.places %>
        <div class="title"><%= t ".category" %></div>
        <%= render @supports.categories %>
      </div>
      <div class="col-md-10 col-sm-9">
        <h3><%= @place.name %></h3>
        <%= render @tours %>
        <%= paginate @tours, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</div>
