<footer>
  <div class="clr"><hr /></div>
  <div class="wrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="copyright">
            <%= t "copyright" %>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                  <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                  <i class="fa fa-linkedin"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li>
              <%= link_to t(:contact), page_path(page: :contact) %>
            </li>
            <li>
              <%= link_to t(:help), page_path(page: :help) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
