<div id="nav-wrapper">
  <div id="nav" class="navbar navbar-default navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-brand-centered">
          <%= image_tag "logo.png" %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t(:tour), "#" %>
          </li>
          <li>
            <%= link_to t(:review), "#" %>
          </li>
          <li>
            <%= link_to t(:place), "#" %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to t(:signup), "#" %>
          </li>
          <li>
            <%= link_to t(:login), "#" %>
          </li>
          <li>
            <%= link_to t(:logout), "#" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
