<div id="nav-wrapper">
  <div id="nav" class="navbar navbar-default navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-brand-centered">
          <%= image_tag "logo.png" %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t(:tour), "#" %>
          </li>
          <li>
            <%= link_to t(:review), "#" %>
          </li>
          <li>
            <%= link_to t(:place), "#" %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if can? :manage, :all %>
              <li>
                <%= link_to t("views.header.categories_manager"),
                  admin_categories_path %>
              </li>
              <li>
                <%= link_to t("views.header.places_manager"),
                  admin_places_path %>
              </li>
            <% end %>
            <li>
              <%= link_to t(:logout), destroy_user_session_path,
                method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to t(:signup), new_user_registration_path %>
            </li>
            <li>
              <%= link_to t(:login), new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
